	<h2 class="page-header">Our Designers</h2>
	<hr/>
	<div class="row">
		<div class="col-sm-4">
			<h4 class=".page-header">DESIGNERS A-Z</h4>
			<p>
				<a class="btn btn-link" id="a-link">A</a>
				<a class="btn btn-link">E</a>
				<a class="btn btn-link">G</a>
				<a class="btn btn-link">K</a>
				<a class="btn btn-link">S</a>
			</p>
			<p>
				<a class="btn btn-link">T</a>
				<a href="#/catalog/">VIEW ALL</a>
			</p>
		</div>
		<div class="col-sm-8">
			{{#list designers}}{{/list}}
		</div>
	</div>



