<div id="filter-by-dropdown"></div>
<div class="row">
	<div class="col-md-3">
		<aside id="sidebar"></aside>
	</div>
	<div class="col-md-9">
		<main id="main">
		</main>
	</div>
</div>

<div class="row">
<div id="calloutCarousel" class="col-md-12"></div>
</div>
