<div id="progress-page">
    <h1>In ajaffe progress template</h1>
    <section class="heading-section" style="display: flex;justify-content: space-between;background-color: #9D7528; color: #fff;padding: 10px;">
        <div><span style="font-size: 20px;">Gold </span><span style="font-size: 16px;"> (35-49 Rings)</span></div>
        <div><p style="font-size: 18px;">40 Rings</p><p style="font-size: 12px;">earned $1000</p></div>
    </section>
    <section class="image-block">
        <div class="actual-image" style="text-align: center;padding: 20px 0px;">
            <img src={{selectedImage.src}} alt="actual image" />
        </div>
    </section>
    <section style="display: flex;">
        <a class="item-link" href="#/ajaffetest/1"  style="background-color: #F5EFF3;flex-grow: 1;border: 1px solid #F5EFF3;margin-right: 5px;text-align: center;padding: 10px 0px;">
            <div class="entry-block">
                <div style="text-align: right;" class="eye-icon_visibility"><i class="fa fa-eye" aria-hidden="true"></i></div>
                <p>Entry</p>
                <i class="fa fa-unlock fa-lg" aria-hidden="true"></i>
            </div>
        </a>
        <a class="item-link" href="#/ajaffetest/2" style="background-color: #BF8861;flex-grow: 1;border: 1px solid #BF8861;margin-right: 5px;text-align: center;padding: 10px 0px;">
            <div class="bronze-block" >
                <p>Bronze</p>
                <i class="fa fa-unlock fa-lg" aria-hidden="true"></i>
            </div>
        </a>
        <a class="item-link" href="#/ajaffetest/3" style="background-color: #BFC1C0;flex-grow: 1;border: 1px solid #BFC1C0;margin-right: 5px;text-align: center;padding: 10px 0px;">
            <div class="silver-block" >
                <p>Silver</p>
                <i class="fa fa-unlock fa-lg" aria-hidden="true"></i>
            </div>
        </a>
        <a class="item-link" href="#/ajaffetest/4" style="background-color: #B78B31;flex-grow: 1;border: 1px solid #B78B31;margin-right: 5px;text-align: center;padding: 10px 0px;">
            <div class="gold-block" >
                <p>Gold</p>
                <i class="fa fa-unlock fa-lg" aria-hidden="true"></i>
            </div>
        </a>
        <a class="item-link" href="#/ajaffetest/{{id}}"  style="background-color: #C9CBCA;flex-grow: 1;border: 1px solid #C9CBCA;margin-right: 5px;text-align: center;padding: 10px 0px;">
            <div class="platinum-block">
                <p>Platinum</p>
                <i class="fa fa-lock fa-lg" aria-hidden="true" style="color: #A5A7A6;"></i>
            </div>
        </a>
        <a class="item-link" href="#/ajaffetest/{{id}}"  style="background-color: #C9CBCA;flex-grow: 1;border: 1px solid #C9CBCA;margin-right: 5px;text-align: center;padding: 10px 0px;">
            <div class="diamond-block">
                <p>Diamond</p>
                <i class="fa fa-lock  fa-lg" aria-hidden="true" style="color: #A5A7A6;"></i>
            </div>
        </a>
        <a class="item-link" href="#/ajaffetest/{{id}}"  style="background-color: #C9CBCA;flex-grow: 1;border: 1px solid #C9CBCA;text-align: center;padding: 10px 0px;">
            <div class="elite-block">
                <p>Elite</p>
                <i class="fa fa-lock fa-lg" aria-hidden="true" style="color: #A5A7A6;"></i>
            </div>
        </a>
    </section>

</div>
