<h1>{{title}}</h1>
<form id="login-form" method="post">
	<input type="text" name="username" value="">
	<input type="password" name="password" value="">
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="reset" class="btn btn-default">Reset</button>
</form>
<aside id="sidebar"></aside>
<main id="main"></main>