<button id="reset-filter-btn" class="btn btn-block btn-secondary">Reset Filter</button>
<div class="search-label">SHOP BY KEYWORD</div>
<div class="input-group">
  <input class="form-control border-secondary py-2" type="search" placeholder="enter search term(s)" id="srch-by-keyword" name="shop-by-keyword">
  <div class="input-group-append">
    <button id="search-btn" class="btn btn-outline-secondary" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
<div>SHOP BY PRICE<div>
<div class="price-inputs">
	<span class="input-min-price">
		<span class="add-on">$</span>
		<input id="min-price" type="number">
	</span>
	<span class="dash">-
	</span>
	<span class="input-max-price">
		<span class="add-on">$</span>
		<input id="max-price" type="number">
	</span>
	<span>
		<button id="go-btn" class="btn btn-primary">Go</button>
	</span>
</div>
<div class="accordion" id="shop-by-categories">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#shop-by-categories" href="#collapse-shop-by-categories">
  		<div>SHOP BY CATEGORIES
				<i class="fa fa-plus" aria-hidden="true"></i>
  		</div>
    </a>
  </div>
  <div id="collapse-shop-by-categories" class="accordion-body collapse in">
    <ul class="accordion-inner">
		  {{#each options}}
		    <li class="category-checkbox">
		    	<input name="selector[]" type="checkbox" value={{this.slug}} />
		    	<a class="categorySelected" href="#/">
		    		{{this.name}}
		    	</a>
		    </li>
		  {{/each}}
    </ul>
  </div>
</div>

















