.product {
    padding: 10px;
    text-align: center;
    position: relative;
}

.product-link {
    display: block;
    text-decoration: none;
    color: #777;
    font-family: AdelleSans-bold;
    font-weight: 700;
    font-size: 12px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}