body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #333;
}
header {
  margin-bottom: 60px;
}
.page-not-found {
  height: calc(100vh - 120px);
  justify-content: center;
  align-items: center;
}
footer {
  text-align: center;
}
.navbar-nav {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: #555;
}
.navbar-light .navbar-nav .active > .nav-link{
  color: #555;
}
.brand-logo {
  margin-bottom: 20px;
}
.brand-logo img{
  display: block;
  margin: auto;
}
#reset-filter-btn {
  margin-bottom: 30px;
}
.product .hover-state {
    content: " ";
    visibility: hidden;
    background: hsla(0,0%,100%,.9);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product {
    padding: 10px;
    text-align: center;
    position: relative;
}

.product-link {
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 700;
  font-size: 12px;
}

.product-name {
  font-size: 14px;
  margin-bottom: 5px;
}
.product-price {
  font-size: 12px;
  color: #555;
}

.product-action-links {
  position: absolute;
  visibility: hidden;
  width: 100%;
  top: 0;
  bottom: 0;
}
.product:hover .product-action-links {
  visibility: visible;
}

.slick-prev {
  left: -25px;
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:before {
  content: '<';
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  top: 0;
  color: #7c7c7c;
  -webkit-font-smoothing: antialiased;
}
.slick-next {
  right: -25px;
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-next:before {
  content: '>';
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  top: 0;
  color: #7c7c7c;
  -webkit-font-smoothing: antialiased;
}
#calloutCarousel {
  margin-top: 60px;
}
.product {
  margin-bottom: 30px;
}
.product-action-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}